<form [formGroup]="addForm" onsubmit="add(addForm)">
  <label>
    <input type="text"
           formControlName="addTask" />
    <span [hidden]="!addForm.controls.addTask.hasError('required')">Field is required!</span>
    <button class="add_button"
            (click)="add(addForm)">
      Add task
    </button>
  </label>
  <button type="text" (click)="addSubTaskForm()">
    Add sub-task
  </button>
  <div *ngFor="let subTaskFrom of subTasks.controls; let i = index">
    <label formArrayName="subTasks">
      <input type="text" formControlName="{{i}}"/>
      <!--<span [hidden]="!subTaskFrom.controls.i.hasError('required')">Field is required!</span>-->
      <button type="text" (click)="removeSubTaskForm(i)">
        Remove
      </button>
    </label>
  </div>
</form>
