<li *ngFor="let task of tasks; let i = index"
    (click)="toggle(i)">
    <span [class.complete]="task.complete"
          (click)="startEditing(i)"
          *ngIf="!(i === editingIndex); else elseBlock">
      {{task.title}}
    </span>
  <ng-template #elseBlock>
    <form>
      <input #editedTask
            type="text"
            value={{task.title}}
            (click)="toggle(i)">
      <button class="edit_button" (click)="edit(i, editedTask.value)">
        Edit
      </button>
    </form>
  </ng-template>
  <button class="addSubTaskButton" (click)="startPushingSubTasks(i)">
    Sub-tasks
  </button>
  <button class="remove_button"
          (click)="remove(i)">
    Remove
  </button>
  <tasks [tasks]="task.subTasks" (click)="toggle(i)"></tasks>
  <div *ngIf="subTaskEditing.indexOf(i) !== -1">
    <addSubTaskForm [taskIndex]="i" (click)="toggle(i)"></addSubTaskForm>
  </div>
</li>
